//- Logotipo

//- Menu Principal
nav.header__menu
    //- Opción de cambio general
    block link_index
        header.header
            nav.header__menu
            label.menu__icono(for='click')
            img(src='assets/img/svg/hamburguesa.svg' alt='')
            input#click(type='checkbox')
            ul.menu__links
                li.link__inicio
                a(href='') Inicio
                li.link__Proyectos
                a(href='') Proyectos
                li.link__Quienessomos
                a(href='') Quienes somos
                li.link__Contactar
                a(href='') Contactar




